.trend
  .allWrapper
    .container1
      .menu-bar
        .menu-items1
          //= link_to URL
          .menu-icon1
            = image_tag "1-menu-bar-trend2.png" , class:"menu-bar-trend2" , alt:"トレンド"
          .menu-item1
            .item1-name
              トレンド

        .menu-items2
          //= link_to URL
          .menu-icon2
            = image_tag "1-menubar-timeline.png", class:"menu-bar-timeline" , alt: "タイムライン"
          .menu-item2
            .item2-name
              タイムライン
              //=link

        .menu-items3
          //= link_to URL
          .menu-icon3
            = image_tag "1-menu-bar-tag_feed.png", class:"menu-bar-tag_feed" , alt:"タグフィード"
          .menu-item3
            .item3-name
              タグフィード
              //=link

      .main-view
        .main-item
          .main-header
            .main-label-icon1
              = image_tag "1-mainview-trend.png", class:"trend_view1", alt:"trend_view"
              .main-label1
                .label-article
                  トレンド
                  .main-label2
                    最近人気の記事を更新
              .label-icon3

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              Vue CLI UIが想像以上に便利だった話
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              画像認識で「綾鷹を選ばせる」AIを作る
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              ブロックチェーンにまつわる7つの『不都合な真実』
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              Dockerfile のベストプラクティスを自分なりに整理してみた
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"


        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              ドメインモデルをコードへ落とす 〜クラスは、どこから？
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22
              .goods-icon
                = image_tag "!goods_mark!.png", class:"goods", alt:"goods_icon"

      .a-side
        .p-home_ad
          広告
        .ranking-user
          .ra-user-bar
            .user-header
              .user-header-label
                ユーザーランキング
              .user-list-tab
                .user-list-tabitem1
                  累計
                .user-list-tabitem2
                .user-list-tabitem3
            .user-list-content
              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!gold!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!silvar!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!bronze!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!4!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!5!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!6!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!7!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!8!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!9!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

              .ra-user
                .ra-user-start
                .ra-user-icon
                .trophy
                  = image_tag "!10!.png", class:"rank", alt:"number_one"
                  .gold-before
                .ra-user-image
                  = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "32x32",  alt:"プロフ画"
                .user-name
                  @aaaoi
                .ra-user-count
                  552
                  .ra-user-contrib
                    Contributions

            .container-body-right
              .container-body
