.body
  .allWrapper
    .container1
      .menu-bar
        .menu-item1
          トレンド
          .menu-icon
        .menu-item2
          タイムライン
          .menu-icon2
        .menu-item3
          タグフィード
          .menu-icon3

      .main-view
        .main-item
          .main-header
            .main-label1
              トレンド
              .main-label2
                最近人気の記事を更新
              .label-icon

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              Vue CLI UIが想像以上に便利だった話
            .article__data
              by emj-naka 2017/10/22

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              画像認識で「綾鷹を選ばせる」AIを作る
            .article__data
              by emj-naka 2017/10/22

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              ブロックチェーンにまつわる7つの『不都合な真実』
            .article__data
              by emj-naka 2017/10/22

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              Dockerfile のベストプラクティスを自分なりに整理してみた
            .article__data
              by emj-naka 2017/10/22


        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              ドメインモデルをコードへ落とす 〜あなたのクラスは、どこから？〜
            .article__data
              by emj-naka 2017/10/22

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22

        .articles
          .my_picture
            = image_tag "https://qiita-image-store.s3.amazonaws.com/0/164189/profile-images/1491563384", size: "40x40",  alt:"プロフ画"
          .article
            .article__title
              【深層強化学習】『2018年最強手法(?)』Ape-X 実装・解説
            .article__data
              by emj-naka 2017/10/22

    .container-body-right







      .container-body
